<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/shop.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>

<section id="start" class="start">

  <!-- NAVIGATION BAR -->
  <section id="navigation">
    <div class="container-fluid navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a href="#" class="brand-Name"> <img src="images\logo.png" alt="" class="d-inline-block align-text-top logo">TITLE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto">
            <li class="navbar-item"><a class="nav-link" href="/home">HOME</a></li>
            <li class="navbar-item"> <a class="nav-link active" style="color:#5C8D89; font-weight: bold;" aria-current="page" href="/good">SHOP</a></li>
            <li class="navbar-item"><a class="nav-link" href="/sell">SELL</a></li>
            <li class="navbar-item"><a class="nav-link" href="/ourteam">TEAM</a></li>
            <li class="navbar-item"><button type="button" class="btn btn-warning"> <%=name%></button></li>
           <li class="navbar-item"><img src="<%=pic%>" width="40" height="40" alt=""></li>
            <li class="navbar-item"><a href="/logout" class="btn btn-default btn-sm">Logout</a></li>

          </ul>
        </div>
      </nav>
    </div>
  </section>

  <!-- TITLE SECTION -->

  <section id="titleSection">

    <div class="container shop">
      <div class="row title-row">
        <div class="col-lg-6 title-image">
          <img src="\images\12d0d374fada476955274f21c1519055-removebg-preview.png" alt="image">
        </div>
        <div class="col-lg-6 title-text">
          <h4 class="highlighted-text">SHOP TO SAVE!</h4>
          <p>We have the power to change the world by just being careful what we buy.</p>
        </div>
      </div>
    </div>

  </section>


  <!-- DEAL, CATEGORIES -->

  <section id="sell-page">

    <!-- SELECTED CATEGORY-->

    <div class="container deals">

        <h4 class="head-deal"><%=catName%></h4>

        <div class="row trends justify-content-evenly">

          <div class="col-xl-2 col-md-3 col-sm-4 col-6"">
            <a href="/shop/catDetails/<%=catName%>/itemDetails">
          <div class=" card" style="width:10rem;"">
        <img src="<%=image%>.jpeg" class=" card-img-top trending" alt="">
            <h6 class="card-title trending-content">Product Name</h6>
          </div>
          </a>
        </div>

        <div class="col-xl-2 col-md-3 col-sm-4 col-6"">
          <a href="/shop/catDetails/<%=catName%>/itemDetails">
          <div class=" card " style=" width:10rem;"">
          <img src="<%=image%>.jpeg" class=" card-img-top trending" alt="">
          <h6 class="card-title trending-content">Product Name</h6>
        </div>
        </a>
      </div>

      <div class="col-xl-2 col-md-3 col-sm-4 col-6"">
        <a href="/shop/catDetails/<%=catName%>/itemDetails">
          <div class=" card " style=" width:10rem;"">
        <img src="<%=image%>.jpeg" class=" card-img-top trending" alt="">
        <h6 class="card-title trending-content">Product Name</h6>
      </div>
      </a>
      </div>

      <div class="col-xl-2 col-md-3 col-sm-4 col-6"">
        <a href="/shop/catDetails/<%=catName%>/itemDetails">
          <div class=" card " style=" width:10rem;"">
        <img src="<%=image%>.jpeg" class=" card-img-top trending" alt="">
        <h6 class="card-title trending-content">Product Name</h6>
      </div>
      </a>
      </div>

      <div class="col-xl-2 col-md-3 col-sm-4 col-6"">
        <a href="/shop/catDetails/<%=catName%>/itemDetails">
          <div class=" card " style=" width:10rem;"">
        <img src="<%=image%>.jpeg" class=" card-img-top trending" alt="">
        <h6 class="card-title trending-content">Product Name</h6>
      </div>
      </a>
      </div>

      <div class="col-xl-2 col-md-3 col-sm-4 col-6"">
        <a href="/shop/catDetails/<%=catName%>/itemDetails">
          <div class=" card " style=" width:10rem;"">
        <img src="<%=image%>.jpeg" class=" card-img-top trending" alt="">
        <h6 class="card-title trending-content">Product Name</h6>
      </div>
      </a>
      </div>

      <div class="col-xl-2 col-md-3 col-sm-4 col-6"">
        <a href="/shop/catDetails/<%=catName%>/itemDetails">
          <div class=" card " style=" width:10rem;"">
        <img src="<%=image%>.jpeg" class=" card-img-top trending" alt="">
        <h6 class="card-title trending-content">Product Name</h6>
      </div>
      </a>
      </div>

      <div class="col-xl-2 col-md-3 col-sm-4 col-6"">
        <a href="/shop/catDetails/<%=catName%>/itemDetails">
          <div class=" card " style=" width:10rem;"">
        <img src="<%=image%>.jpeg" class=" card-img-top trending" alt="">
        <h6 class="card-title trending-content">Product Name</h6>
      </div>
      </a>
      </div>

      <div class="col-xl-2 col-md-3 col-sm-4 col-6"">
        <a href="/shop/catDetails/<%=catName%>/itemDetails">
          <div class=" card " style=" width:10rem;"">
        <img src="<%=image%>.jpeg" class=" card-img-top trending" alt="">
        <h6 class="card-title trending-content">Product Name</h6>
      </div>
      </a>
      </div>

      <div class="col-xl-2 col-md-3 col-sm-4 col-6"">
        <a href="/shop/catDetails/<%=catName%>/itemDetails">
          <div class=" card " style=" width:10rem;"">
        <img src="<%=image%>.jpeg" class=" card-img-top trending" alt="">
        <h6 class="card-title trending-content">Product Name</h6>
      </div>
      </a>
      </div>

      <div class="col-xl-2 col-md-3 col-sm-4 col-6"">
        <a href="/shop/catDetails/<%=catName%>/itemDetails">
          <div class=" card " style=" width:10rem;"">
        <img src="<%=image%>.jpeg" class=" card-img-top trending" alt="">
        <h6 class="card-title trending-content">Product Name</h6>
      </div>
      </a>
      </div>

      <div class="col-xl-2 col-md-3 col-sm-4 col-6"">
        <a href="/shop/catDetails/<%=catName%>/itemDetails">
          <div class=" card " style=" width:10rem;"">
        <img src="<%=image%>.jpeg" class=" card-img-top trending" alt="">
        <h6 class="card-title trending-content">Product Name</h6>
      </div>
      </a>
      </div>

      </div>

      </div>

    <!-- RECENTLY VIEWED -->

    <div class="container deals">
      <h4 class="head-deal">RECENTLY VIEWED</h4>

      <div class="carousel-wrapper">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <a href="/shop/catDetails/<%=catName%>/itemDetails">
            <div class="card" style="width:12.5rem;"">
          <img src=" <%=image2%>.jpeg" class=" card-img-top" alt="">
              <div class="row content">
                <div class="col-6 ">
                  <h5 class="card-title ">ITEM NAME</h5>
                  <h5 class="card-title ">Price</h5>
                </div>

                <div class="col-6">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
              <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            </div>
            </a>
          </div>

          <div class="item">
            <a href="/shop/catDetails/<%=catName%>/itemDetails">
            <div class="card" style="width:12.5rem;">
          <img src=" <%=image2%>.jpeg" class=" card-img-top" alt="">
              <div class="row content">
                <div class="col-6 ">
                  <h5 class="card-title ">ITEM NAME</h5>
                  <h5 class="card-title ">Price</h5>
                </div>
                <div class="col-6">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
              <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            </div>
            </a>
          </div>

          <div class="item">
            <a href="/shop/catDetails/<%=catName%>/itemDetails">
            <div class="card" style="width:12.5rem;">
          <img src=" <%=image2%>.jpeg" class=" card-img-top" alt="">
              <div class="row content">
                <div class="col-6 ">
                  <h5 class="card-title ">ITEM NAME</h5>
                  <h5 class="card-title ">Price</h5>
                </div>
                <div class="col-6">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
              <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            </div>
            </a>
          </div>
          <div class="item">
            <a href="/shop/catDetails/<%=catName%>/itemDetails">
            <div class="card" style="width:12.5rem;"">
          <img src=" <%=image2%>.jpeg" class=" card-img-top" alt="">
              <div class="row content">
                <div class="col-6 ">
                  <h5 class="card-title ">ITEM NAME</h5>
                  <h5 class="card-title ">Price</h5>
                </div>
                <div class="col-6">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
              <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            </div>
            </a>
          </div>
          <div class="item">
            <a href="/shop/catDetails/<%=catName%>/itemDetails">
            <div class="card" style="width:12.5rem;"">
          <img src=" <%=image2%>.jpeg" class=" card-img-top" alt="">
              <div class="row content">
                <div class="col-6 ">
                  <h5 class="card-title ">ITEM NAME</h5>
                  <h5 class="card-title ">Price</h5>
                </div>
                <div class="col-6">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
              <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            </div>
            </a>
          </div>
          <div class="item">
            <a href="/shop/catDetails/<%=catName%>/itemDetails">
            <div class="card" style="width:12.5rem;"">
          <img src=" <%=image2%>.jpeg" class=" card-img-top" alt="">
              <div class="row content">
                <div class="col-6 ">
                  <h5 class="card-title ">ITEM NAME</h5>
                  <h5 class="card-title ">Price</h5>
                </div>
                <div class="col-6">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
              <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            </div>
            </a>
          </div>
          <div class="item">
            <a href="/shop/catDetails/<%=catName%>/itemDetails">
            <div class="card" style="width:12.5rem;"">
          <img src=" <%=image2%>.jpeg" class=" card-img-top" alt="">
              <div class="row content">
                <div class="col-6 ">
                  <h5 class="card-title ">ITEM NAME</h5>
                  <h5 class="card-title ">Price</h5>
                </div>
                <div class="col-6">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
              <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            </div>
            </a>
          </div>
          <div class="item">
            <a href="/shop/catDetails/<%=catName%>/itemDetails">
            <div class="card" style="width:12.5rem;"">
          <img src=" <%=image2%>.jpeg" class=" card-img-top" alt="">
              <div class="row content">
                <div class="col-6 ">
                  <h5 class="card-title ">ITEM NAME</h5>
                  <h5 class="card-title ">Price</h5>
                </div>
                <div class="col-6">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
              <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            </div>
            </a>
          </div>
          <div class="item">
            <a href="/shop/catDetails/<%=catName%>/itemDetails">
            <div class="card" style="width:12.5rem;"">
          <img src=" <%=image2%>.jpeg" class=" card-img-top" alt="">
              <div class="row content">
                <div class="col-6 ">
                  <h5 class="card-title ">ITEM NAME</h5>
                  <h5 class="card-title ">Price</h5>
                </div>
                <div class="col-6">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
              <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            </div>
            </a>
          </div>
          <div class="item">
            <a href="/shop/catDetails/<%=catName%>/itemDetails">
            <div class="card" style="width:12.5rem;"">
          <img src=" <%=image2%>.jpeg" class=" card-img-top" alt="">
              <div class="row content">
                <div class="col-6 ">
                  <h5 class="card-title ">ITEM NAME</h5>
                  <h5 class="card-title ">Price</h5>
                </div>
                <div class="col-6">
                  <i class="fas fa-shopping-cart"></i>
                </div>
              </div>
              <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            </div>
            </a>
          </div>
        </div>
      </div>

    </div>

    <!-- CATEGORIES -->

    <div class="container deals">
      <h4 class="head-deal">OTHER CATEGORIES</h4>

      <div class="row justify-content-evenly">

        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="/shop/catDetails/fashion">
          <div class=" card Category" style="width:10rem;">
            <i class=" fas fa-cog"></i>
            <h6 class="card-title">FASHION</h6>
          </div>
          </a>
        </div>

        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="/shop/catDetails/plastic">
          <div class=" card Category" style="width:10rem;">
            <i class=" fas fa-cog"></i>
            <h6 class="card-title">PLASTIC</h6>
          </div>
          </a>
        </div>

        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="/shop/catDetails/buttons">
          <div class=" card Category" style="width:10rem;">
            <i class=" fas fa-cog"></i>
            <h6 class="card-title">BUTTONS</h6>
          </div>
          </a>
        </div>

        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="/shop/catDetails/gifting-materials">
          <div class=" card Category" style="width:10rem;">
            <i class=" fas fa-cog"></i>
            <h6 class="card-title">GIFTING</h6>
          </div>
          </a>
        </div>

        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="/shop/catDetails/cloth">
          <div class=" card Category" style="width:10rem;">
            <i class=" fas fa-cog"></i>
            <h6 class="card-title">CLOTH</h6>
          </div>
          </a>
        </div>

        <div class="col-xl-2 col-md-3 col-sm-4 col-6">
          <a href="/shop/catDetails/miscellaneous">
          <div class=" card Category" style="width:10rem;">
            <i class=" fas fa-cog"></i>
            <h6 class="card-title">MISCELLANEOUS</h6>
          </div>
          </a>
        </div>

</div>

    </div>

  </section>

  <!-- WHAT DO YOU GET -->

  <section id="reward">
    <div class=" rewardPoints ">

      <img src="\images\rewards.png" alt="" class="img-fluid">
    </div>
  </section>

  <!-- EMPTY DIV -->
  <div class="empty">

  </div>

  <!-- BENEFITS -->

  <section id="Benefits">

    <div class="container-fluid features deal">

      <div class="row benefits">

        <div class="col-sm-4">
          <img src="\images\green-energy.png" class="benefits-img" alt="">
          <h6 class="benefit-head">Reusability</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="col-sm-4">
          <img src="\images\green-house.png" class="benefits-img" alt="">
          <h6 class="benefit-head">Live Order Tracking</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="col-sm-4 ">
          <img src="\images\electric-bike.png" class="benefits-img" alt="">
          <h6 class="benefit-head">Lightening Fast delivery</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

      </div>
    </div>

  </section>




</section>

<%-include ("partials/footer") -%>
